.circle {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #c9cfd3;
}

.circleCurrent {
  background: #0d7bab;
}

.okButton {
  background: #f0f0f0;
  border-radius: 100px;
}

.okText {
  color: #ffffff;
}

.okSelected {
  background: #ff8f48;
  border-radius: 100px;
}

.okSelected:hover {
  background: #f68034;
  border-radius: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
